<!DOCTYPE html>
<html class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/js/htmx.min.js"></script>
</head>
<script>
</script>

<body class="h-full">
    <div>
        <div id="sidebar" hx-trigger="load" hx-get="/dashboard/sidebar"></div>
        <main {% if path %} hx-get="{{ path }}" {% else %} hx-get="/dashboard" {% endif %} hx-trigger="load"
            id="main-content" class="py-10 lg:pl-72">
        </main>
    </div>
</body>

</html>